#SmartPlugRemote * {
  border-radius: 0px;
  font-weight: bold;
}
#SmartPlugRemote .portlet-header {
  display: none;
}
#SmartPlugRemote .portlet-footer {
  position: absolute;
  bottom: 0;
  background: transparent;
}
#SmartPlugRemote .portlet-body {
  height: 100%;
  padding: 0;
}
#SmartPlugRemote .logo {
  padding: 10px;
  width: 40%;
  height: 100%;
  line-height: 100%;
  float: left;
  text-align: center;
}
#SmartPlugRemote .text {
  width: 60%;
  height: 100%;
  float: left;
  text-align: center;
}
#SmartPlugRemote .text .state {
  font-size: 32px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#SmartPlugRemote .text .watt {
  font-size: 20px;
}
